
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Cascadia Code';
/*    font-family: 'Comic Sans MS';*/
  
}

.sidebar {
    background-color: mintcream;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    margin-top:-350px;
}

#SearchItem {
    border: 1px solid #ccc;
   
}

#productCountContainer {
    /*    flex: 1 1 25%;*/
    box-sizing: border-box;
    background-color: ghostwhite;
    padding: 10px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    width:300px;
}

#productCountContainer {
    padding:30px;
/*    border: 1px solid #ccc;*/
    text-align: center;
    box-shadow:2px 20px 10px lightgray;
    
}

body {
    background-color: ghostwhite;
    background-color: mintcream;
}

.div-item {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.material-icons {
    padding: 30px;
    font-size: 20px;
    opacity: 0.7;
}

#Name, #Description, #Size, #Price1, #ProductId, #SearchItem, #inventoryId, #CustomerIdTB, #txtSupplierId, #CustomerNameTB, #CustomerEmailTB, #Username, #UserPassword, #UserId, #Username1, #UserIdTB, #UsernameTB, #Price, #txtSupplierId, #txtEmail, #txtName, #supplierName, #supplierEmail, #txtProductId, #txtDiscount, #pId, #SpecialId, #sId, #supplierId, #quantityInStock {
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 20px;
    width: 100%;
}

#AddProductBtn, #CreateCustomerProfileBtn, #DeleteCustomerBtn, #SignInBtn, #SignUpBtn, #UpdateCustomerBtn, #DeleteSupplierBtn, #UpdateUserBtn, #DeleteUserBtn, #GenerateReportBtn, #CreateSupplierBtn, #UpdateSupplierBtn, #CreateSpecialBtn, #UpdateSpecialBtn, #DeleteSpecialBtn, #GenerateReportBtn, #AddInventoryBtn {
    padding: 30px;
    width: 104%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    font-size: 16px;
    margin: 10px;
}

#SearchBtn {
    padding: 20px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    height: 60px;
}

#SearchBtn:hover {
    padding: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.content {
    align-content: center;
    align-items: center;
    padding:10px;
}

#AddLipstickHeading {
    font-size: 30px;
    text-align: center;
}

#ProductsGridView {
    padding: 20px;
    margin: 10px;
    height: 100px;
}

#HyperLink5, #HyperLink6, #HyperLink7, #HyperLink8, #HyperLink1, #HyperLink2, #HyperLink3, #HyperLink4, #HyperLink8, #HyperLink9, #HyperLink10 {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 15px;
}

.sidebar {
    height: 150px;
   
}


#HyperLink5:hover, #HyperLink6:hover, #HyperLink7:hover, #HyperLink8:hover, #HyperLink1:hover, #HyperLink2:hover, #HyperLink3:hover, #HyperLink4:hover, #HyperLink8:hover, #HyperLink9:hover {
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: skyblue;
    text-decoration-thickness: 2px;
}

#AddLipstickHeading {
   
    margin:20px;
    align-content: center;
    align-items: center;
    text-align:center;
}



#ProductCountLbl, #CustomerCountLbl, #UsersCountLbl, #SuppliersCountLbl, #SpecialsCountLbl, #InventoryCountLbl {
    font-size: 20px;
    color: black;
    text-align: center;
    opacity:0.7;
 
}

#LblGreet {
    float: right;
    font-size: 14px;
    padding: 20px;
}

.HaveAccountContainer {
    display: flex;
    flex-direction: row; 
    margin:20px;
    align-items: center;
    text-align:center;
}

#HaveAccountText{
    opacity:0.7;
    text-align:center;
}
#LoginLbl {
    text-align: center;
    text-decoration:none;
    padding:10px;
    color:black;  
}

#signUpHeading {
    text-align: center;
}

#productHeading {
    text-align: center;
    font-weight: 500;
    opacity: 0.8;
}
#CustomerGridView, #ProductsGridView, #UsersGridView,#InventoryGridView {
    width: 80%;
    height: 40%;
}

.headerItems{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#FeedbackLbl{
    text-align:center;
}

.calendars {
    display: flex;
    flex-direction: row;

    padding: 20px;
}

#txtStartDate, #txtEndDate, #EndDate, #StartDate {
    width: 400px;
    border: none;
    border-radius: 10px;
    margin: 40px;
}

#header{
    text-align:center;
}

