
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Cascadia Code';
}

#Name, #Description, #Size, #Price, #ProductId, #SearchItem {
    border-radius: 5px;
    border: 0.2px solid grey;
    margin: 10px;
    padding: 20px;
    width: 500px;
}

#AddProductBtn{
    padding:20px;
    width:550px;
    border:none;
    border-radius:5px;
    background-color:deepskyblue;
    color:white;
}

#SearchBtn{
    padding: 20px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
}


#SearchBtn:hover{
    padding: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:white;
    color: black;
}

.content {
    align-content: center;
    align-items: center;
    margin-left: 200px;
}

#AddLipstickHeading{
    font-size:30px;
    text-align:center;
}
#ProductsGridView{

   padding:20px;
   margin:10px;
   
}