
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Cascadia Code';
}

.sidebar {
    background-color: mintcream;
}

.mid-container {
    background-color: mintcream;
    background-color: ghostwhite;
    display:flex;
    flex-direction:row;
}

body {
    background-color: deepskyblue;
    background-color: ghostwhite;
}

.div-item {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.material-icons {
    padding: 30px;
    font-size: 20px;
    opacity: 0.7;
}

#Name, #Description, #Size, #Price1, #ProductId, #SearchItem, #CustomerIdTB, #CustomerNameTB, #CustomerEmailTB, #Username, #UserPassword, #UserId, #Username1, #UserIdTB, #UsernameTB, #Price {
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 20px;
    width: 100%;
}

#AddProductBtn, #CreateCustomerProfileBtn, #DeleteCustomerBtn, #SignInBtn, #SignUpBtn, #UpdateCustomerBtn, #UpdateUserBtn, #DeleteUserBtn, #GenerateReportBtn {
    padding: 30px;
    width: 104%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    font-size: 16px;
    margin: 10px;
}

#SearchBtn {
    padding: 20px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    height: 60px;
}

#SearchBtn:hover {
    padding: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.content {
    align-content: center;
    align-items: center;
    padding:10px;
}

#AddLipstickHeading {
    font-size: 30px;
    text-align: center;
}

#ProductsGridView {
    padding: 20px;
    margin: 10px;
    height: 100px;
}

#HyperLink5, #HyperLink6, #HyperLink7, #HyperLink8, #HyperLink1, #HyperLink2, #HyperLink3, #HyperLink4, #HyperLink8, #HyperLink9, #HyperLink10 {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 15px;
}

.sidebar {
    height: 150px;
   
}


#HyperLink5:hover, #HyperLink6:hover, #HyperLink7:hover, #HyperLink8:hover, #HyperLink1:hover, #HyperLink2:hover, #HyperLink3:hover, #HyperLink4:hover, #HyperLink8:hover, #HyperLink9:hover {
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: skyblue;
    text-decoration-thickness: 2px;
}

#AddLipstickHeading {
   
    margin:20px;
    align-content: center;
    align-items: center;
    text-align:center;
}

#productCountContainer {
    background-color: dimgrey;
    padding: 60px;
    width: 100px;
    text-align: center;
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
}

#ProductCountLbl, #CustomerCountLbl, #UsersCountLbl{
    font-size: 20px;
    color: white;
    text-align:center;
}

#LblGreet {
    float: right;
    font-size: 14px;
    padding: 20px;
}

.HaveAccountContainer {
    display: flex;
    flex-direction: row; 
    margin:20px;
    align-items: center;
    text-align:center;
}

#HaveAccountText{
    opacity:0.7;
    text-align:center;
}
#LoginLbl {
    text-align: center;
    text-decoration:none;
    padding:10px;
    color:black;  
}

#signUpHeading {
    text-align: center;
}

#productHeading {
    text-align: center;
    font-weight: 500;
    opacity: 0.8;
}
#CustomerGridView, #ProductsGridView, #UsersGridView {
    width: 80%;
    height: 40%;
}

.headerItems{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#FeedbackLbl{
    text-align:center;
}
